* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.d1 {
    width: 350px;
    height: 350px;
    background-color: steelblue;
    border: 5px solid red;
    margin: 100px;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    transform: translate(300px, 300px);
    transform: rotate(180deg);
    transform: skew(20deg);
    transform: translate() rotate() skew();
    transition: 2s;
}

div:hover {
    transform: rotate(120deg);
    transform: scale(1.5);
}

div:hover {
    width: 400px;
    height: 250px;
    background-color: green;
    border-radius: 50%;
    border: 10px solid lightcoral;
}