* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'aside header header header'
    'aside area divus aboba'
    'aside content content content'
    'aside footer footer footer'
    ;

}


aside,
header,
area,
divus,
aboba,
center,
footer {
    background-color: aqua;
    color: white;
    padding: 20px;
    border: 1px solid black;
}