.img1 {
    position: relative;
    width: 165px;
    height: 40px;
    margin-left: 50px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p1 {
    position: relative;
    top: -50px;
    margin-left: 225px;
}

.p2 {
    position: relative;
    top: -85px;
    margin-left: 450px;
}

.p3 {
    position: relative;
    top: -122px;
    margin-left: 550px;
}

.p4 {
    position: relative;
    top: -158px;
    margin-left: 650px;
}

.p5 {
    position: relative;
    top: -195px;
    margin-left: 750px;
}

.p6 {
    position: relative;
    top: -233px;
    margin-left: 865px;
}

.p7 {
    position: relative;
    top: -270px;
    margin-left: 985px;
}

.p8 {
    position: relative;
    top: -307px;
    margin-left: 1090px;
}

.img2 {
    position: relative;
    top: -340px;
    margin-left: 1210px;
}

.img3{
    position: relative;
    margin-left: 10px;
    top: 2px;
}

.div1 {
    position: relative;
    background-color: #E6E8EA;
    height: 35px;
    width: 165px;
    top: -370px;
    margin-left: 1250px;
}

.p9 {
    position: relative;
    top: -45px;
    margin-left: 45px;
}

.div2 {
    position: relative;
    top: -350px;
    background-color: #FFD230;
    height: 50px;
    border: 1px solid #B29321;
}

.h1 {
    position: relative;
    top: -20px;
    color: black;
    margin-left: 70px;
}

.div3 {
    position: relative;
    background-color: #FFD230;
    border: 1px solid #B29321;
    top: -351px;
    height: 30px;
}

.img4 {
    position: relative;
    margin-left: 70px;
}

.h2 {
    position: relative;
    top: -46px;
    margin-left: 105px;
}

.div4 {
    position: relative;
    background-color: #323539;
    height: 675px;
    top: -300px;
}

.img5 {
    position: relative;
    width: 50px;
    height: 20px;
    top: 35px;
    margin-left: 75px;
}

.h3 {
    position: relative;
    color: white;
    width: 500px;
    margin-left: 75px;
    top: 10px;
}

.h4 {
    position: relative;
    width: 500px;
    color: white;
    margin-left: 75px;
}

.img6 {
    position: relative;
    margin-left: 75px;
}

.p10 {
    position: relative;
    margin-left: 75px;
    color: white;
}

.img7 {
    position: relative;
    height: 300px;
    width: 550px;
    margin-left: 850px;
    top: -327px;
}

.img8 {
    position: relative;
    margin-left: 75px;
    top: -300px;
}

.img9 {
    position: relative;
    margin-left: 10px;
    top: -300px;
}

.img10 {
    position: relative;
    margin-left: 10px;
    top: -300px;
}

.img11 {
    position: relative;
    margin-left: 10px;
    top: -300px;
}

.p11 {
    position: relative;
    margin-left: 75px;
    top: -300px;
    width: 300px;
    color: white;
    font-size: 20px;
}

.p12 {
    position: relative;
    margin-left: 385px;
    top: -370px;
    width: 300px;
    color: white;
    font-size: 20px;
}

.p13 {
    position: relative;
    margin-left: 695px;
    top: -442px;
    width: 300px;
    color: white;
    font-size: 20px;
}

.p14 {
    position: relative;
    margin-left: 1002px;
    top: -542px;
    width: 300px;
    color: white;
    font-size: 20px;
    
}